body {
	background-color: antiquewhite;
}

.AccessToken {
	position: relative;
	top: 300px;
	width: 450px;
	margin: auto;
}

.AccessToken input {
	width: 400px;
	margin: 0px;
	border: 0px;
	padding: 8px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.AccessToken button {
	width: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.GetAccessTokenHelp {
	margin-top: 20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 4px;
}